
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>分类展示不同形式的选择日期</title>
</head>
<body>
    <form>
        <div class="form-group">
            <label for="date">日-月-年</label>
            <input type="date" name="date" id="date" value="" />
        </div>
        <div class="form-group">
            <label for="month">年-月</label>
            <input type="month" name="month" id="month" value="" />
        </div>
        <div class="form-group">
            <label for="week">年-周</label>
            <input type="week" name="week" id="week" value="" />
        </div>
        <div class="form-group">
            <label for="time">时-分</label>
            <input type="time" name="date" id="time" value="" />
        </div>
        <div class="form-group">
            <label for="date">日期-时间</label>
            <input type="datetime" name="date" id="datetime" value="" />
        </div>
        <div class="form-group">
            <label for="datetime-local">日期-时间</label>
            <input type="datetime-local" name="date" id="datetime-local" value="" />
        </div>


    </form>
</body>
</html>

<h2>try1</h2>

